# Configurações do Servidor
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=3000

# Configurações do Banco de Dados
DB_HOST=db
DB_PORT=3306
DB_USER=dart_user
DB_PASSWORD=dart_password
DB_SCHEMA=base_backend

# Senha root do MySQL (apenas para docker-compose)
DB_ROOT_PASSWORD=root123
